<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="900px">
        <h1>CADASTRE O SEU PRODUTO</h1>
        <form class="mt-60">
            <mat-card class="card-cadastro">
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-60">
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <div fxLayout="column" fxFlex="800px">
                            <mat-form-field class="full-width">
                                <mat-label>
                                    Nome do Produto
                                </mat-label>
                                <input type="text" matInput placeholder="Digite o nome do produto" />
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>