<div style="text-align: right; margin: 16px;">
    <button mat-button (click)="modoCard = !modoCard">
        {{modoCard ? 'Ver como Tabela' : 'Ver como Cards'}}
    </button>
</div>

<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="1000px">
        <form class="mt-60" #buscaForm="ngForm" (ngSubmit)="pesquisar()">
            <mat-card appearance="outlined" class="card-pesquisa">
                <mat-card-header>
                    <mat-card-title class="title-pesquisar">Procurar Produtos</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div fxLayout="row">
                        <div fxLayout="column" fxFlex="950px">
                            <mat-form-field appearance="outline">
                                <mat-label>
                                    Digite o nome do produto
                                </mat-label>
                                <input matInput name="nomeBusca" [(ngModel)]="nomeBusca" class="input-pesquisa">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button type="submit" class="search-button">

                        <mat-icon fontIcon="search" class="icon">
                        </mat-icon>
                        PESQUISAR
                    </button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center" class="mt-20" *ngIf="!modoCard">
    <div fxLayout="column" fxFlex="1200px">
        <mat-card appearance="outlined" class="card-resultado">
            <mat-card-header>
                <mat-card-title class="title">Produtos Cadastrados</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <table mat-table [dataSource]="listaProdutos">
                    <ng-container matColumnDef="foto">
                        <th mat-header-cell *matHeaderCellDef>Foto</th>
                        <td mat-cell *matCellDef="let produto"><img mat-card-image [src]="produto.foto"
                                alt="Imagem do Produto" style="max-width: 50px; max-height: 50px; margin-top: 8px;" />
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let produto">{{produto.id}}</td>
                    </ng-container>

                    <ng-container matColumnDef="nome">
                        <th mat-header-cell *matHeaderCellDef>Produto</th>
                        <td mat-cell *matCellDef="let produto">{{produto.nome }} </td>
                    </ng-container>
                    <ng-container matColumnDef="preco">
                        <th mat-header-cell *matHeaderCellDef>Preço</th>
                        <td mat-cell *matCellDef="let produto">{{produto.preco | currency:
                            'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="dataValidade">
                        <th mat-header-cell *matHeaderCellDef>Data de Validade</th>
                        <td mat-cell *matCellDef="let produto">{{produto.dataValidade | date:'dd/MM/yyyy' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="descricao">
                        <th mat-header-cell *matHeaderCellDef>Descrição</th>
                        <td mat-cell *matCellDef="let produto">{{produto.descricao}}</td>
                    </ng-container>
                    <ng-container matColumnDef="acoes">
                        <th mat-header-cell *matHeaderCellDef>Ações</th>
                        <td mat-cell *matCellDef="let produto">
                            <button type="button" (click)="preparaEditar(produto.id)" class="btn-editar">
                                <mat-icon fontIcon="edit" class="icon"></mat-icon>
                                Editar
                            </button>
                            @if(!produto.deletando){
                            <button type="button" (click)="preparaDeletar(produto)" class="btn-deletar">
                                <mat-icon fontIcon="delete" class="icon"></mat-icon>
                                Deletar
                            </button>
                            }@else {
                            <button type="button" (click)="deletar(produto)" class="btn-confirmar">
                                <mat-icon fontIcon="question_mark" class="icon"></mat-icon>
                                Confirma
                            </button>
                            }

                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="colunasTable"></tr>
                    <tr mat-row *matRowDef="let row; columns: colunasTable;"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center" class="mt-20" *ngIf="modoCard">
    <div class="container-cards">
        <mat-card *ngFor="let produto of listaProdutos" appearance="outlined" class="cards">
            <mat-card-content class="cards-content">
                <img mat-card-image [src]="produto.foto" alt="Imagem do Produto" class="card-image" />
                <mat-card-title class="card-title">{{produto.nome}}</mat-card-title>
                <p><span>Preço:</span> {{produto.preco | currency:
                    'BRL':'symbol':'1.2-2':'pt-BR'}}</p>
                <p><span>Descrição:</span> {{produto.descricao }}</p>
                <p><span>Data de Validade: </span>{{produto.dataValidade | date:'dd/MM/yyyy'}}</p>
            </mat-card-content>
            <mat-card-actions class="btn-actions">
                <button type="button" (click)="preparaEditar(produto.id)" class="cards-editar">
                    <mat-icon fontIcon="edit" class="cards-icon">
                    </mat-icon>
                </button>

                @if(!produto.deletando){
                <button type="button" (click)="preparaDeletar(produto)" class="cards-deletar">
                    <mat-icon fontIcon="delete" class="cards-icon"></mat-icon>

                </button>
                }@else {
                <button type="button" (click)="deletar(produto)" class="cards-confirmar">
                    <mat-icon fontIcon="question_mark" class="cards-icon"></mat-icon>
                    Confirma
                </button>
                }
            </mat-card-actions>
        </mat-card>
    </div>
</div>