<mat-toolbar class="toolbar">
  <span>Painel de Cadastro de Produtos</span>
  <span class=" spacer"></span>

  <ng-container *ngIf="router.url !== '/'">
    <!-- Botão Página Inicial aparece em todas as rotas exceto a home -->
    <button mat-flat-button routerLink="/" class="mr-5">Página Inicial</button>

    <!-- Se estiver na rota '/cadastro', mostra 'Ver Produtos' -->
    <button *ngIf="router.url === '/cadastro'" mat-flat-button routerLink="/consulta" class="ml-2">
      Ver Produtos
    </button>

    <!-- Se estiver na rota '/consulta', mostra 'Novo Produto' -->
    <button *ngIf="router.url === '/consulta'" mat-flat-button routerLink="/cadastro" class="ml-2">
      Novo Produto
    </button>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>

<div *ngIf="router.url === '/'" class="container">
  <h3>Bem-vindos ao Painel de Produtos!</h3>
  <div>
    <button mat-raised-button routerLink="/consulta" class="mr-5">Ver Produtos</button>
    <button mat-flat-button routerLink="/cadastro">Novo produto</button>
  </div>

</div>